<!-- app.component.html -->
<div class="main-container">
  <div class="background-image"></div>
  <div class="header">Website Name</div>
  <div class="content">
    <h1 class="text-animation">
      <span class="animated-word"><p class="pMar">Transforming Interventional</p></span>
      <span class="animated-word"><p class="pMar">Cardiology</p></span>
    </h1>
    <h3 class="text-animation">
      <span class="animated-word"><p class="pMar">with 24/7/365 live procedures from top global sites and experts </p></span>
    </h3>
    <button
    class="get-started-button"
    [ngClass]="{ 'loaded': contentLoaded }"
    (mouseover)="hoverButton = true"
    (mouseout)="hoverButton = false"
  >
    <span [ngStyle]="{ 'margin-left.px': buttonMove }" class="button-text">Get Started</span>
  </button>
  </div>
  <div class="footer">Image</div>
</div>
